table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: #dddd;
}
 th{
      background-color: #000000;
     text-align: left;
     padding: 8px;
 }
td {
    background-color: #26232c;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {

}